{% extends 'default/index.html.twig' %}

{% block body %}
    <h1>Validación de usuario</h1>
    <form action="" method="post" class="login">
		<label for="login_user">Email</label>
		<input id="login_user" type="text" name="_username" value="" />
		<label for="login_pass">Contraseña</label>
		<input id="login_pass" type="password" name="_password" />
		<br>
		<input type="submit" value="Entrar" />
	</form>
{% endblock %}