*
{
	padding: 0px;
	margin: 0px;
	font-family: verdana;
	font-size: 0.95em;
}

h1
{
	background-color: black;
	color: white;
	font-size: 1.5em;
	font-weight: 500;
	padding: 5px;
}

form
{
	padding: 20px;
	margin: 10px;
	background-color: silver;
	display: flex;
	flex-wrap: wrap;
}

form.login
{
	align-items: flex-start;
	width: 250px;
}

form.login *
{
	width: 100%;
}

form.login input
{
	padding: 5px;
	border: 1px solid #959595;
}

form.login input[type="text"], form.login input[type="password"]
{
	margin-bottom: 15px;
}

.encabezado div
{
	display: inline-block;
}